.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 0 0;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  position: relative;
  list-style: none;
  padding: 12px 32px;
  color: #999999;
  cursor: pointer;
  background: #EDEEEF;
  border-radius: 5px 5px 0 0;
  margin-right: 8px;
}

.react-tabs__tab--selected {
  background: #FFF;
  color: #215BF0;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab-panel {
  padding: 40px;
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  background: #FFF;
}
